.vscode/settings.json
bit_manipulation/1-main.c
bit_manipulation/2-main.c
bit_manipulation/3-main.c
bit_manipulation/4-main.c
bit_manipulation/5-main.c
file_io/0-main.c
file_io/1-main.c
file_io/2-main.c
file_io/a
file_io/b
file_io/c
file_io/cp
file_io/hello
file_io/Incitatous
file_io/incitatous
file_io/Requiescat
